include synonyms

mixin percent 
    if(NLG.Scale[0] === 'Percent')
        |%
    if(NLG.Scale[0]=== 'Dollar')
        |$

p
    //- | the overall #[+Average] for #[+each] #[+race] is #[+around] #{parseFloat(avg).toFixed(2)}. 
    if(min !== -1)
    | overall, the
    eachz el in maxArray with {separator:',', last_separator:'and'}
        | #{el}
    | 
    | has the #[+highest] share with #[+anAverage] value of #{parseFloat(max).toFixed(2)} #[+percent], and 
    | the 
    eachz el in minArray with {separator:',', last_separator:'and'}
        | #{el}
    | has the #[+lowest] #[+Average] of #{parseFloat(min).toFixed(2)} #[+percent].

    
    
