include synonyms


mixin percent 
    if(NLG.Scale[0] === 'Percent')
        |%
    if(NLG.Scale[0]=== 'Dollar')
        |$

mixin yearCount
    | #{Number(yearFormat.split("-")[0]) > 1 ? "5 Years" : "1 Year"}

p
    if(stats.avg > 0)
    | In the #{resourceName.split("(")[0]} as per the #[+records], in a period of #[+yearCount]
    | the #[+Average]  
    | #{NLG.Title}
    | is 
    | #{parseFloat(stats.avg).toFixed(2)} #[+percent]
    | and
    | the #[+highest] value ever #[+recorded] was 
    | #{parseFloat(stats.max).toFixed(2)}  #[+percent], 
    | whereas the #[+lowest] value to ever #[+record] was 
    | #{parseFloat(stats.min).toFixed(2)}  #[+percent].